{{- /* refresh.html is the Xero and Salesforce refresh page template */ -}}

{{ template "base.html" . }}

{{ define "content" }}
<div class="max-w-xl mx-auto bg-white p-8 rounded-lg shadow-md border border-slate-300 text-sm">
    <div class="prose">
        <h2 class="pb-4 text-base font-semibold">Refresh Data</h2>
        <p class="pb-4">You are connected. Before proceeding, please refresh the data for the financial year you wish to work with.</p>
        <p class="">Financial Year: <span class="font-mono font-bold">&lt; 2025 &gt;</span></p>
    </div>

    <div class="mt-8 space-y-6">
        <!-- Refresh Xero -->
        <div class="p-4 border border border-4 rounded-md">
            <h3 class="font-semibold">Refresh Xero invoices and bank transactions</h3>
            <p class="text-sm text-slate-600 mb-3">Retrieve data from Xero over the Xero API to store locally.</p>
            <button class="bg-sky-600 text-white font-bold py-2 px-4 rounded hover:bg-sky-700 transition-colors"
                _="on click toggle @disabled on me then put 'Refreshed!' into my.innerHTML">
                Refresh
            </button>
        </div>

        <!-- Refresh Salesforce -->
        <div class="p-4 border border border-4 rounded-md">
            <h3 class="font-semibold">Refresh Salesforce donations</h3>
            <p class="text-sm text-slate-600 mb-3">Retrieve data from Salesforce over Salesforce API to store locally.</p>
            <button class="bg-sky-600 text-white font-bold py-2 px-4 rounded hover:bg-sky-700 transition-colors"
                _="on click toggle @disabled on me then put 'Refreshed!' into my.innerHTML">
                Refresh
            </button>
        </div>
    </div>

    <div class="mt-10 text-center">
        <a href="/home" class="bg-green-600 text-white font-bold py-2 px-6 rounded hover:bg-green-700 transition-colors">
            Continue to App
        </a>
    </div>
</div>
{{ end }}
