@import "tailwindcss";

@theme {
  /* --content: "./templates/*.html", "./static/css/components.css"; */
  --content: "./templates/*.html", "./*.go", "./**/*.go";
}

/* migration of default border color from tailwind v3 */
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-slate-200, currentColor);
  }
}

/* @import './components.css'; */
